<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>eRegistrar - Edit Student</title>
  </head>
  <body>
  	<div class="container-fluid">
  		<div class="top-nav">
  			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			  <a class="navbar-brand" href="/eregistrar">eRegistrar</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="#">View Courses</a>
			      </li>
			      <li class="nav-item active">
			        <a class="nav-link" href="#">View Students</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Profile</a>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
			  </div>
			</nav>
  		</div>
  		<br>
  		<div class="row offset-1">
  			<div class="col-md-6"><h4>Edit the Student here...</h4></div>
  			<div class="col-md-6"><a href="/eregistrar/student/list" class="btn btn-primary">List Students</a></div>
  			
  			<div class="col-md-12 mt-4" >
  				<form action="/eregistrar/student/update" method="post" th:object="${student}">
  				  <input type="hidden" name="studentId" th:value="${student.studentId}">
				  <div class="form-row">
				    <div class="col-md-5 form-group">
				      <label for="studentNumber">Student Number</label>
				      <span class="alert alert-danger" th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"></span>
				      <input type="text" id="studentNumber" name="studentNumber" class="form-control" th:value="${student.studentNumber}" placeholder="Stuent Number">
				    </div>
				    <div class="col-md-5 form-group">
				      <label for="firstName">First Name</label>
				      <span class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				      <input type="text" id="firstName" name="firstName" class="form-control" th:value="${student.firstName}" placeholder="First Name">
				    </div>
				    <div class="col-md-5 form-group">
				      <label>Middle Name</label>
				      <input type="text" name="middleName" class="form-control" th:value="${student.middleName}" placeholder="Middle Name">
				    </div>
				    <div class="col-md-5 form-group">
				      <label for="lastName">Last Name</label>
				      <span class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				      <input type="text" id="firstName" name="lastName" class="form-control" th:value="${student.lastName}" placeholder="Last Name">
				    </div>
				    <div class="col-md-5 form-group">
				      <label>CGPA</label>
				      <input type="number" name="cgpa" class="form-control" th:value="${student.cgpa}" placeholder="CGPA" min="0" max="4" step=".01">
				    </div>
				    <div class="col-md-5 form-group">
				      <label>Enrollment Date</label>
				      <input type="date" name="enrollmentDate" class="form-control" th:value="${student.enrollmentDate}" placeholder="Enrollment Date">
				    </div>
				    <div class="col-md-5 form-group">
				      <label>is International</label>
				      <select name="isInternational" class="form-control">
				      	<option value="Yes" th:selected="${student.isInternational=='Yes'}">Yes</option>
				      	<option value="No" th:selected="${student.isInternational=='No'}">No</option>
				      </select>
				    </div>
				  </div>
				  <div class="form-group">
				    	<input type="submit" value="Save" class="btn btn-success">
				  </div>
				</form>
  			</div>
  		</div>
  	</div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>